@page
@model RegisterModel

<!DOCTYPE html>
<html lang="en">
    


<head>
    <meta chaster="UTF-8">
    <link rel="stylesheet" href="../wwwroot/css/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<div class="form-3">
    <div class="row">
    <div class="col-md-4">
        <div class="clearfix">
        <section>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
              
             <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-4">
                  <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="col-md-4" autocomplete="username" aria-required="true" />
     
            </div>
            <div class="col-md-4">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="col-md-4" autocomplete="new-password" aria-required="true" />
                
            </div>
            <div class="col-md-4">
                 <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="col-md-4" autocomplete="new-password" aria-required="true" />
                
            </div>
            <div>
                    <input type="submit" class="w-100 btn btn-lg btn-primary bg-#433c3c7e" value="Register" onclick="window.location.href='<%= Url.Action(" AccessStorage","Storage") %>
              </div>
            
        </form>
         </section>
          <section>
            <hr />
    </div>
       
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {

                }
                else
                {
                    if (Model.ExternalLogins != null)
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                    }
                }
            }
        </section>
    </div>
    </div>
</div>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}