@page
@model LoginModel

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta chaster="UTF-8">
    <link rel="stylesheet" href="../wwwroot/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">
</head>
<div class="form-3">
    <div class="clearfix">
        <section>
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="clearfix"></div>
                <div class="clearfix">
                    <label asp-for="Input.Email" class="clearfix"></label>
                    <input asp-for="Input.Email" class="clearfix" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="clearfix"></span>
                </div>
                <div class="clearfix">
                    <label asp-for="Input.Password" class="clearfix"></label>
                    <input asp-for="Input.Password" class="clearfix" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="clearfix"></span>
                </div>
                <div>
                    <div class="clearfix">
                        <label asp-for="Input.RememberMe" class="clearfix">
                            <input class="clearfix" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <input type="submit" class="w-100 btn btn-lg btn-primary bg-#433c3c7e" value="Log in" onclick="window.location.href='<%= Url.Action(" AccessStorage","Storage") %>
                </div>
            </form>
        </section>
    </div>
    <div class="clearfix">
        <section>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {

                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="clearfix">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>
